## enable both Alt-arrows and Ctrl-arrows for skipping and killing words
"\C-h": backward-kill-word
"\e[3;5~": kill-word

"\e[1;3D": backward-word
"\e[1;3C": forward-word

"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
